.action-bar {
    background-color: #408CFF  !important;
}

.btn-nav {
    font-size: 25;
    padding: 8;
    color: white;
}

.btn-search {
    color: #408CFF;
    background-color: white;
    font-size: 25;
    padding: 8;
    margin: 0;
}

TextField {
    border-width: 0 0 0 0;
    font-size: 15;
    background-color: rgb(221, 221, 221);
    padding: 10;
    placeholder-color: dimgray;
    border-radius: 5;
}

:host-context(.ns-dark) TextField {
    border-width: 0 0 0 0;
    font-size: 15;
    padding: 10;
    placeholder-color: dimgray;
    border-radius: 5;
    background-color: black !important;
}

.btn-pay {
    font-weight: bold;
    color: white !important;
    background-color: #408CFF  !important;
}
.t-money {
    font-size: 17;
    font-weight: 100;
    color: dimgray;
}

.d-money {
    font-weight: bold;
    font-size: 20;
}

.money {
    margin-top: 5;
    padding-left: 20%;
}

.f-money {
    font-size: 14;
    font-weight: 100;
    color: dimgray;
    margin: 0;
    padding: 0;
}

.v-money {
    font-weight: bold;
    font-size: 16;
    margin: 0;
    padding: 0;
}
