.action-bar {
    background-color: #408CFF  !important;
}

.btn-nav {
    font-size: 25;
    padding: 8;
    color: white;
}

.btn-search {
    color: #408CFF;
    background-color: white;
    font-size: 25;
    padding: 8;
    margin: 0;
}

TextField {
    border-width: 0 0 0 0;
    font-size: 15;
    background-color: rgb(221, 221, 221);
    padding: 10;
    placeholder-color: dimgray;
    border-radius: 5;
}

:host-context(.ns-dark) TextField {
    border-width: 0 0 0 0;
    font-size: 15;
    padding: 10;
    placeholder-color: dimgray;
    border-radius: 5;
    background-color: black !important;
}

.l-des {
    font-size: 15;
    padding-right: 10;
}

.lbl-text, .l-lugar {
    font-weight: bold;
    padding-left: 10;
}

.t-lugar {
    font-size: 12;
    color: dimgray;
    padding-left: 10;
    margin-top: 10;
}

.l-lugar {
    font-size: 15;
    padding-left: 10;
}
